.item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.logo {
  width: 36px;
  height: 36px;
  object-fit: contain;
  background-color: white;
  padding: 2px;
  border-radius: 4px;
  box-sizing: border-box;
  flex-shrink: 0;
}
